body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
  }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  line-height: 1.75;
  font-size: 1rem;
}

.chat-container {
  display: flex; /* Ensure flex display is set */
  flex-direction: column; /* Stack children vertically */
  flex: 1;
  position: absolute; /* Positioning relative to its nearest positioned ancestor */
  bottom: 0; /* Align the bottom with the parent */
  width: 50%;
  height: 93%;
  overflow-y: auto; /* Allows scrolling for overflow */
  padding: 10px;
  padding-left: 0; /* Ensures no left padding that could offset children */
  align-items: flex-start; /* Align children to the start (left) */
  padding-bottom: 10%; /* Bottom padding to create space */
  box-sizing: border-box; /* Ensures padding is included in height */
  transition: 0.3s;
}


/* Hide scrollbar for Webkit browsers */
.chat-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.chat-container {
  scrollbar-width: none;
}


.message {
  display: flex;
  width: 100%;
  align-items: flex-start; /* Aligns items to the start of the flex container */
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}

.profile-picture {
  width: 20px; /* Adjust size as needed */
  margin-top: 4px;
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image round */
  margin-right: 10px; /* Adds space between the image and the message text */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.message-content {
  flex: 1; /* Takes up the remaining space */
}

.message-text {
  flex: 1; /* Takes up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically */
  align-items: flex-start; /* Align items to the left */
}

.message-toolbar {
  display: none;
  position: absolute;
  justify-content: flex-start; /* Align items to the start of the container */
  gap: 5px; /* Space between toolbar items */
  margin-left: -8px;
}

.message-toolbar:hover {
    color: black;
}

.user-name {
  font-weight: 600; /* Makes the user name bold */
  margin-bottom: 4px; /* Adds space between the user name and the message text */
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: white;
  transition: 0.3s;
  }

.user-input {
  width: 50%;
  padding: 10px;
  height: 25px;
  position: relative;
  margin-right: 10px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  font-family: 'Noto Sans', sans serif;
  padding-right: 4%;
  padding-left: 4%;
  font-size: 15px;
  z-index: -5;
}

textarea {
  /* Default state styles */
  border: 1px solid #ccc; /* Light grey border */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus styles */
}

/*make styles for focus within both textareas and divs in input container*/
.input-container:focus-within textarea, .input-container:focus-within div {
  border-color: #999; /* Darken the border a bit */

}

@media (max-width: 600px) {
  .user-input {
    width: 70%;
  }
}

/* Styles for sidebar adjustment (example) */
@media (min-width: 600px) {
  body.has-sidebar .chat-container {
    margin-right: 300px; /* Assuming the sidebar is 300px */
  }
}

.sidebar-toggle {
  position: absolute;
  opacity: 100%;
  left: 10px;
  cursor: pointer;
  top: 40%;
  visibility: hidden;
  transition: left 0.3s;
}

.sidebar-toggle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px;
  width: 5px; /* Width of the line */
  height: 30px; /* Height of the line, can be adjusted */
  background: lightgrey; /* Initial color of the line */
  visibility: visible; /* Make sure the line is visible */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.sidebar-toggle:hover::before {
  background: grey; /* Darker shade on hover */
}



.sidebar {
  position: fixed;
  left: -18%; /* Sidebar starts off-screen */
  top: 0;
  width: 18%;
  height: 100%;
  background-color: #f9f9f9;
  overflow-y: auto; /* Allows scrolling for overflow */
  transition: left 0.3s; /* Smooth transition for opening/closing */
  z-index: 99;
}

.conversations-list {
  list-style: none;
  padding: 0;
  padding-bottom: 30%;
  margin: 0;
}

.conversation-item {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns children vertically in the center */
  justify-content: space-between; /* Spreads out children with space between */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.conversation-item:hover {
    background-color: #f0f0f0;
}

.new-chat {
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.new-chat:hover {
    background-color: lightgrey;
}


#sendBtn {
    position: absolute;
    background: lightblue;
    right: 23%;
    border-radius: 10px;
    width: 30px; /* Sets a fixed width for the button */
    height: 30px; /* Sets a fixed height for the button, making it bigger */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    border: none; /* Removes the border from the button */
    font-size: 16px; /* Increases the font size inside the button */
    bottom: 18px;
    z-index: 5;
}

.attachmentBtn {
  position: absolute;
  background: none; /* Remove any background */
  border: none; /* Remove the border */
  padding: 0; /* Adjust padding as needed */
  cursor: pointer; /* To indicate it's clickable */
  left: 22%;
  bottom: 18px;
  z-index: 5;
}

/* To ensure the button doesn't have any outline when focused, for aesthetic purposes */
.attachmentBtn:focus {
  outline: none;
}


#modelInfoContainer {
  position: absolute; /* Needed for absolute positioning of children */
  top: 1%;
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  left: 6%;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: black;
  z-index: 1000; /* Ensures dropdown appears above other content */
  transition: 0.3s;
  border-radius: 10px;
}

#modelInfoContainer:hover {
    background-color: lightgrey;
}

#modelVersion {
    margin-left: 5px;
    color: grey;
}

#modelVersion, #modelName {
    padding-top: 0;
}

#modelDropdown {
  display: none;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adds a drop shadow for depth */
  z-index: 1000;
  width: max-content;
  position: absolute; /* Position the dropdown below the name/version */
  top: 100%; /* Align the top of the dropdown with the bottom of the container */
  left: 0; /* Align the dropdown to the left edge of the container */
  border-radius: 8px; /* Rounded corners */
}

#modelDropdown div {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd; /* Separates options */
  background-color: #fff; /* Ensures consistent background */
  border-radius: 0; /* Resets any rounded corners for individual items, can be adjusted if desired */
}

#modelDropdown div:last-child {
  border-bottom: none; /* Removes border from the last option */
  border-radius: 0 0 8px 8px; /* Rounded corners for the bottom of the dropdown */
  font-weight: 600;
}

#modelDropdown div:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.code-container {
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    margin: 1em 0;
    overflow: hidden; /* Keeps the overall container clean */
    z-index: 0;
}

.code-header {
    padding: 0.5em 1em;
    background-color: #2f2f2f;
    color: #61aeee;
    font-size: 0.85em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    position: absolute;
    width: calc(100% - 2em);
    top: 0;
    z-index: 3;
}

.hljs {
    background: #1e1e1e;
    color: #ccc;
    padding: 16px;
    position: relative;
    margin-top: 8px; /* Ensures space for the header */
    line-height: 1.75;
    font-family: monospace;
    font-size: 14px;
    word-wrap: break-word; /* Allows breaking and wrapping of long words */
    white-space: pre-wrap; /* Maintains formatting but wraps text */
}

.code-container pre {
    margin: 0;
    position: relative;
    z-index: 1; /* Keeps content properly layered */
}

.copy-btn {
    padding: 8px 16px;
    background-color: #61aeee;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
}

.copy-btn:hover {
    background-color: #4b9cd3;
}



.error-box {
    border: 1px solid red;
    background-color: #f8d7da; /* Light red background */
    color: grey; /* Grey text */
    border-radius: 4px; /* Rounded corners */
    display: flex;
    justify-content: start;
    margin-top: 30px;
    padding: 10px;
    width: 100%; /* Ensure it takes full width */
}


.edit-btn {
  background-color: white;
  border: none;
  color: grey;
  cursor: pointer;
}

.edit-btn:hover {
    color: black;
}

.message:hover .message-toolbar {
  display: flex;
}

.message.editing .message-toolbar {
  display: none !important; /* Force hide the toolbar during editing */
}

textarea {
      font-family: 'Noto Sans', sans serif;
      font-size: 1rem;
      border: none;
      resize: none;
}

textarea:focus {
  outline: none;
  }


.conversation-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  overflow: visible; /* allow dropdown to show */
}

.conversation-item-text {
  flex-grow: 1;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.conversation-item-text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 33%; /* Adjust the width of the fade effect as needed */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; /* Ensure clicks go through to the text */
}

.conversation-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: transparent;
}

.conversation-item:hover .conversation-toolbar {
  display: flex;
}


.title-text {
  flex-grow: 1; /* Allows the element to grow */
  white-space: nowrap;
  font-size: 0.8rem;
  max-width: 84%; /* Adjust as needed */
  overflow: hidden;
  position: relative; /* Position relative to allow absolute positioning within it */
  mask-image: linear-gradient(to right, black 50%, transparent 100%);
}


.conversation-options-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}


.conversation-item.options-bar-visible .conversation-toolbar {
  display: flex; /* Keep the toolbar visible */
}

.conversation-item:hover .conversation-toolbar,
.conversation-item.options-bar-visible .conversation-toolbar {
  display: flex; /* Show toolbar on hover or when options bar is visible */
}

.conversation-item.options-bar-visible .conversation-toolbar .conversation-item {
  background-color: #f0f0f0;
}

.conversation-item.options-bar-visible {
    background-color: #f0f0f0;
}

.conversation-item.is-current-conversation {
    background-color: lightgrey;
}

.conversation-item.is-current-conversation .conversation-toolbar {
  display: flex; /* Keep the toolbar visible */
}


.options-bar {
  display: none;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adds a drop shadow for depth */
  z-index: 99999;
  width: max-content;
  position: absolute;
  top: 35px;
  border-radius: 8px; /* Rounded corners */
}

.options-bar div {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd; /* Separates options */
  background-color: #fff; /* Ensures consistent background */
  border-radius: 0; /* Resets any rounded corners for individual items, can be adjusted if desired */
}

.options-bar div:last-child {
  border-bottom: none; /* Removes border from the last option */
  border-radius: 0 0 8px 8px; /* Rounded corners for the bottom of the dropdown */
}

.options-bar div:first-child {
  border-radius: 8px 8px 0 0; /* Rounded corners for the top of the dropdown */
}

.options-bar div:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.conversation-item-options-visible {
  background-color: #f0f0f0; /* Or the specific shade of light grey you prefer */
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 999999;
  background-color: white;
  overflow: auto;
  border-radius: 20px;
}

.modal-content {
  display: none;
  padding: 0px;
}

.close-button {
  display: none;
  color: lightgrey;
  float: right;
  position: absolute;
  font-size: 28px;
  right: 10px;
  top: 0;
}

.close-button:hover,
.close-button:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.file-preview {
  position: relative;
  width: 6%; /* Adjusted for image preview size */
  height: auto;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden; /* Ensures image stays within the boundaries */
}

.image-preview {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes bottom space/margin */
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

/* Adjust .file-name style if you're keeping it for other purposes */


.preview-container {
  display: none; /* Initially hidden */
  flex-wrap: wrap;
  width: 57.2%;
  position: absolute;
  justify-content: flex-start;
  left: 21%;
  bottom: 78%;
  padding-bottom: 20px;
    border-bottom: none;

  border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  font-family: 'Noto Sans', sans serif;
  margin-bottom: -10px;
    z-index: 1;
    background-color: white;
}

/* hide bottom border for preview container on focus */
.preview-container:focus-within {
  border-bottom: none;
}

#main-container {
    text-align: center;
    display: none; /* Hide everything initially */
    transition: 0.3s;
}

#circle-image {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 50%;
    width: 15%;
    height: auto;
    padding: 2%;
}

#text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

#left-text {
    color: black;
}

#right-text {
    color: grey;
}

.sidebar-bottom {
  position: fixed;
  left: -18%; /* Starts off-screen, aligned with the sidebar */
  bottom: 0; /* Aligns to the bottom of the viewport */
  width: 18%; /* Matches the sidebar width */
  height: 10%; /* Or whatever height you prefer */
  background-color: #f9f9f9; /* Matches the sidebar background color */
  transition: left 0.3s; /* Smooth transition for opening/closing */
  z-index: 1000; /* Ensures it's below the sidebar if they overlap */
  display: flex;
  align-items: center;
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensures padding is included in the element's dimensions */
}

.sidebar-bottom:hover {
    cursor: pointer;
    background: lightgrey;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.profile-name {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.settings-option {
  font-size: .875rem; /* Slightly smaller text */
  padding: 5px; /* Add padding for a larger click area and spacing */
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer; /* Change the mouse pointer to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
}

.settings-option:hover {
  background-color: #f0f0f0; /* A slightly darker grey for more contrast */
}

.settings-option.active {
  background-color: lightgrey; /* Even darker or different color for active state */
}

#system-prompt {
  display: none;
}

#system-prompt-list {
  list-style-type: none;
  padding: 0;
}

#system-prompt-list li {
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#title-textbox,
#system-prompt-textbox {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#system-prompt-textbox {
  height: 150px;
}

#settings-title {
  padding: 20px;

  font-weight: 600;
  border-bottom: 1px solid lightgrey;
  font-size: 1.125rem;
  margin: 0px;
}


.settings-content {
  display: flex; /* This ensures content within is properly aligned */
  flex-direction: column; /* Stack children vertically */
    margin: 25px;

}

.user-input-settings {
  white-space: nowrap;
}

.input-container-settings {
  display: flex;
  align-items: center; /* Vertically centers the label and input */
  gap: 10px; /* Spacing between label and input */
  margin-bottom: 15px; /* Space between each input-container */
}

.user-input-settings {
  width: 30%;
  height: 25px;
  padding: 5px 2%; /* Adjusted padding */
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875rem;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Keeps content on one line */
  box-shadow: none; /* Initially no shadow */

  position: relative;
  border: 1px solid lightgrey;
  padding-right: 4%;
  padding-left: 4%;
}

.user-input-settings:focus {
  border-color: #999; /* Darken the border a bit */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Subtle outer shadow */
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
}


.input-container-settings:not(:focus-within)::after {
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none; /* Allows clicks to pass through */
  background: linear-gradient(to right, transparent, #f0f0f0); /* Shadow falloff effect */
}

/* General styles for the container */
.tool-container {
  background-color: #f0f0f0; /* light grey background */
  border: 1px solid #d1d1d1; /* light grey border */
  border-radius: 8px; /* rounded corners */
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s; /* smooth transform on hover */
}

/* Header styles for a nice color and padding */
.tool-header {
  background-color: #007bff; /* blue background */
  color: white; /* white text */
  padding: 8px 12px;
  border-top-left-radius: 6px; /* rounded corners on the top */
  border-top-right-radius: 6px;
  cursor: pointer; /* indicates the header is clickable */
}

/* Output styles for padding and hidden by default */
.tool-output {
  padding: 8px 12px;
  display: none; /* hidden by default, shown when clicked */
  background-color: white; /* white background */
  border-radius: 6px; /* rounded corners */
  margin-top: 10px;
}

/* Hover effect for the header */
.tool-header:hover {
  background-color: #0056b3; /* a darker blue on hover */
}

/* Responsive styling */
@media (max-width: 600px) {
  .tool-container {
    padding: 5px;
  }
  .tool-header, .tool-output {
    padding: 4px 8px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
